# WMTU DJ Logs Widget Properties
log_endpoint=http://<hostname>/log/api/v1.0/songs
log_username=<username for Log app>
log_password=<password for Log app>
log_excluded_wo_categories=<comma-separated list of uppercase WideOrbit categories whose media assets will be excluded from automatic logging; example value: 'IDS,COM'>